h1, h2, p{
    text-align: center;
    
} 

body{
    /* background-color: rgb(181, 179, 179); */
    background-image: url(https://images.pexels.com/photos/143640/pexels-photo-143640.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tea-menu{
    opacity: 0.9;
    width: 80%;
    background-color: gray;
    color: violet;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

.tea-items p{
    /* background-color: green; */
    display: inline-block;
}
.tea-flavor, .collections-flavor{
    width: 80%;
    background-color: green;
    text-align: left;
}

.tea-price, .collections-price{
    width: 20%;
    background-color: yellow;
    text-align: center;
}