body{
    /* background-color: rgb(181, 179, 179); */
    background-image: url(https://images.pexels.com/photos/143640/pexels-photo-143640.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

h1, h2, p{
    color: violet;
    text-align: center;
    
} 


h1{
    font-size: 40px;
}

h2{
    font-size: 35px;
}

.top-line, .bottom-line{
    height: 2px;
    background-color: rgb(227, 52, 236);
    border-color: rgb(145, 49, 145);
    box-shadow: 10px 10px 5px 0px rgba(97,52,133,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(97,52,133,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(97,52,133,0.75);
}

.top-line{
    margin-top: 25px;
}

.bottom-line{
    margin-top: 25px;
}

.tea-menu{
    opacity: 0.9;
    width: 80%;
    max-width: 500px;
    background: gray;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px;
}

.esbtalished{
    font-style: italic ;
}

.tea-items p{
    /* background-color: green; */
    display: inline-block;
    font-weight: 800;
    margin: 5px 0px;
}
.tea-flavor, .collections-flavor{
    width: 80%;
    background-color: green;
    text-align: left;
}

.tea-price, .collections-price{
    width: 20%;
    background-color: yellow;
    text-align: center;
}

.footer-p{
    background-color: black;
    color: white;
}

footer{
    font-size: 14px;
}